{% load i18n lfs_tags sshop_tags %}
<input id="change_modal_cart" type="hidden" action="{% url sshop_changed_modal_cart %}">
<table class="table table-bordered table-striped cart">
    <tr>
        <th colspan="2">
            {% trans 'Product' %}
        </th>
        <th class="left">
            {% trans 'Amount' %}
        </th>
        <th class="number">
            {% trans 'Total' %}
        </th>
        <th></th>
    </tr>
    {% for cart_item in cart_items %}
        <tr>
            <td class="image">
                <a href="{{ cart_item.product.get_absolute_url }}">
                    {% if cart_item.product.get_image.image %}
                    <img src="{{ cart_item.product.get_image.image.url_60x60 }}"
                         alt="{{ cart_item.product.get_name }}" class="thumbnail"/>
                    {% else %}
                        <img alt="{{ cart_item.product.name }}" src="{{ STATIC_URL }}img/60x60.gif" class="thumbnail" />
                    {% endif %}
                </a>
            </td>
            <td>
                {{ cart_item.product.get_name }}
                {% comment %}
                {% for property in cart_item.product.get_variant_properties %}
                    <div>
                        {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
                    </div>
                {% endfor %}

                {% for property in cart_item.product.get_displayed_properties %}
                    <div>
                        {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
                    </div>
                {% endfor %}

                {% if cart_item.product.is_configurable_product %}
                    {% for property in cart_item.obj.get_properties %}
                        <div>
                            {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
                            {% if property.obj.is_select_field and property.display_price %}
                                ({{ property.price|currency:request}})
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
                {% endcomment %}

            </td>
            <td class="cart-item">
                 <input class="number modal-cart-amount input-mini"
                    type="text"
                    name="amount-cart-item_{{ cart_item.obj.id }}"
                    id="cart-item_{{ cart_item.obj.id }}"
                    size="6"
                    value="{{ cart_item.quantity }}" />
                {{ cart_item.product.unit }}
                {% trans 'шт.' %}    
                {% trans 'по' %}
                {% format_as_price cart_item.product_price %}
            </td>
            <td class="number">
                        {% format_as_price cart_item.product_price_total %}
            </td>
            <td class="right">
                    <a href="#"
                        name="cart-item_{{ cart_item.obj.id }}"
                        title="{% trans 'Delete item' %}"
                        class="delete-button delete-modal-cart-item"><i class="icon-trash"></i></a>
                </td>
        </tr>
    {% endfor %}

</table>
<div class="row">
<table style="float:right" >
    <tr>
        <td class="total number padding-top">
            {% trans 'Total' %}:
        </td>
        <td>
            {% format_as_price cart_price %}
        </td>
    </tr>
</table>
</div>
<script type="text/javascript">
$('.modal-cart-amount').change(function(){
    mediator.publish('change_amount_modal_cart_item');
})
$('.delete-modal-cart-item').click(function(event){
    $('#'+event.target.parentElement.name)[0].value = 0
    mediator.publish('remove_modal_cart_item');
})
</script>