{% load i18n %}
<div class="row-fluid">
    {% with amount=cart.get_amount_of_items %}
    {% if amount == 0 or not cart %}
    <div id="empty-cart" class="span12">
        <img src="{{ STATIC_URL }}img/empty-cart.png">
    </div>
    <div class="row-fluid">
    <div id="empty-cart-text" class="span12">
        <p>{% trans "Cart is empty." %}</p>
    </div>
    </div>
    {% else %}
    <div class="span4">
        <img src="{{ STATIC_URL }}img/full-cart1.png">
    </div>
    <div class="span8">
        <p>{% trans "Товаров" %}: {{ amount|floatformat  }} </p>
        <p>{% trans 'На сумму' %}: {{ total_price|floatformat }} {{ SHOP.default_currency.abbr }}</p>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <a class="btn btn-small" href="{% url lfs_checkout %}">{% trans "Оформить заказ" %}</a>
            <a id="clear-cart" class="btn btn-small"><i class="icon-remove-circle icon-white"></i></a>
        </div>
    </div>
    {% endif %}
    {% endwith %}
</div>

<script type="text/javascript">
    $("#clear-cart").click(function(){
        $('#cart-container').load('{% url lfs_clear_cart %}');
    });
</script>
