{% extends "lfs/base.html" %}
{% load i18n lfs_tags lfs_portlets_tags %}
{% load seo_data %}

{% block head %}
    <meta name="keywords" content="{% get_keywords %}" />
    <meta name="description" content="{% get_description %}" />
{% endblock %}

{% block section %}page{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs page %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1 class="first-heading">
        {{ page.title }}
    </h1>
</div>

<div>
        {{ page.body|safe }}
</div>

    {% if page.file %}
        <a href="{{page.file.url}}">
            {% trans "Download" %}
        </a>
    {% endif %}

                        <div id="left-slot-container"> 
                            <div class="left-slot">
           {% if page %}                     
    {% for page in pages %}
        <h2 class="page-title">
            {{ pages.title }}
        </h2>
        {% if pages.short_text %}
            <div>
                {{ pages.short_text|safe }}
            </div>
        {% endif %}

    {% endfor %}
    {% endif %}
                            </div>
                        </div>
{% endblock %}

{% block body_bottom %}
    <script>
        mediator.publish('change_slots_width', "span3", "span9", "span9");
        config.left_portlet_count++;
        config.right_portlet_count--;
    </script>
{% endblock %}
