{% extends "lfs/base.html" %}
{% load i18n lfs_tags lfs_portlets_tags %}

{% block section %}pages{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Information") %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1 class="page-title">
        {% trans 'Information' %}
    </h1>
</div>

    {% for page in pages %}
        <h2 class="page-title">
            {{ page.title }}
        </h2>
        {% if page.short_text %}
            <div>
                {{ page.short_text|safe }}
            </div>
        {% endif %}
        <div class="more">
            <a href="{{ page.get_absolute_url }}">{% trans 'More' %}</a>
        </div>
    {% endfor %}
{% endblock %}

{% block body_bottom %}
    <script>
        mediator.publish('change_slots_width', "span3", "span9", "span9");
        config.left_portlet_count++;
        config.right_portlet_count--;
    </script>
{% endblock %}

