{% load i18n %}
{% load lfs_tags  sshop_tags%}
<table class="table">
    <tr>
        <th colspan="4">
            {% trans 'General' %}
        </th>
    </tr>
    <tr>
        <td width="25%">
            {% trans 'Customer name' %}:
        </td>
        <td width="25%">
            {{ current_order.customer.get_full_name }}
        </td>
        <td width="25%">
            {% trans 'Date' %}:
        </td>
        <td width="25%">
            {{ current_order.created|date:_("DATETIME_FORMAT") }}
        </td>
    </tr>
    <tr>
        <td>
            {% trans 'E-mail' %}:
        </td>
        <td>
            <a href="mailto:{{ current_order.user.email }}">
                {{ current_order.user.email }}
            </a>
        </td>
        <td>
            {% trans 'State' %}:
        </td>
        <td>
            {{ current_order.get_state_display }}
        </td>
    </tr>
    <tr>
        {% with current_order.customer.get_default_phone as phone %}
        <td>
            {{ phone.get_type_display }}:
        </td>
        <td>
            {{ phone.number }}
        </td>
        {% endwith %}
        <td>
            {% trans 'Total' %}:
        </td>
        <td>
            {% if SHOP.default_currency_id != current_order.payment_method.currency_id %}
            <strong>{% format_as_payment_price current_order.price current_order.payment_method %}</strong> ({% format_as_price current_order.price %})
            {% else %}
            {% format_as_price current_order.price %}
            {% endif %}
        </td>
    </tr>

</table>
<table class="table">
    <td>
        {% if current_order.shipping_info %}
            {{ current_order.shipping_info|safe }}
        {% endif %}
    </td>
    <td>
        {% if current_order.payment_info %}
            {{ current_order.payment_info|safe }}
        {% endif %}
    </td>
</table>
{% comment %}
<table class="order lfs-default padding-top-middle">
    <tr>
        <th width="25%">
            {% trans 'Invoice address' %}
        </th>
        <th width="25%">
            {% trans 'Shipping address' %}
        </th>
        <th width="25%">
            {% trans 'Shipping method' %}
        </th>
        <th width="25%">
            {% trans 'Payment method' %}
        </th>
    </tr>
    <tr>
        <td>
            <div>
                {{ current_order.invoice_firstname }}
            </div>
            <div>
                {{ current_order.invoice_lastname }}
            </div>
            <div>
                {{ current_order.invoice_line1 }}
            </div>
            <div>
                {{ current_order.invoice_line2 }}
            </div>
            <div>
                {{ current_order.invoice_city }}
            </div>
            <div>
                {{ current_order.invoice_state }}
            </div>
            <div>
                {{ current_order.invoice_code }}
            </div>
            <div>
                {{ current_order.invoice_country }}
            </div>
            <div>
                {{ current_order.customer.get_mobile_phone }}
            </div>
        </td>
        <td>
            <div>
                {{ current_order.shipping_firstname }}
            </div>
            <div>
                {{ current_order.shipping_lastname }}
            </div>
            <div>
                {{ current_order.shipping_line1 }}
            </div>
            <div>
                {{ current_order.shipping_line2 }}
            </div>
            <div>
                {{ current_order.shipping_city }}
            </div>
            <div>
                {{ current_order.shipping_state }}
            </div>
            <div>
                {{ current_order.shipping_code }}
            </div>
            <div>
                {{ current_order.shipping_country }}
            </div>
            <div>
                {{ current_order.shipping_phone }}
            </div>
        </td>
        <td>
            <div>
                {{ current_order.shipping_method }}
            </div>
        </td>
        <td>
            <div>
                {{ current_order.payment_method.name }}
            </div>
            {% ifequal current_order.payment_method.id 1 %}
                <div>
                    {{ current_order.account_number }}
                </div>
                <div>
                    {{ current_order.bank_identification_code }}
                </div>
                <div>
                    {{ current_order.bank_name }}
                </div>
                <div>
                    {{ current_order.depositor }}
                </div>
            {% endifequal %}
        </td>
    </tr>

</table>
{% endcomment %}

<table class="order lfs-default padding-top-middle table table-striped table-bordered">
    <tr>
        <th width="13%">
            {% trans 'Image' %}
        </th>
        <th width="12%">
            {% trans 'SKU' %}
        </th>
        <th>
            {% trans 'Name' %}
        </th>
        <th class="number">
            {% trans 'Amount' %}
        </th>
        <th class="number">
            {% trans 'Price' %}
        </th>
        <th class="number">
            {% trans 'Total' %}
        </th>
    </tr>
    {% for item in current_order.items.all %}
        <tr>
            <td class="top">
                {% if item.product.get_image.image %}
                <div>
                    <a href="{% url lfs_product item.product.slug %}">
                    <img alt="{{ item.product_name }}"
                         src="{{ item.product.get_image.image.url_60x60 }}" />
                   </a>
                </div>
                {% else %}
                &nbsp;
                {% endif %}
            </td>
            <td class="top">
               {{ item.product_sku }}
            </td>
            <td class="top">
                {{ item.product_name }}
                {% comment %}
                {% for property in item.product.get_variant_properties %}
                    <div>
                        {{ property.title }} : {{ property.value }} {{ property.unit|safe }}
                    </div>
                {% endfor %}

                {% for property in item.product.get_displayed_properties %}
                    <div>
                        {{ property.title }} : {{ property.value }} {{ property.unit|safe }}
                    </div>
                {% endfor %}

                {% if item.product.is_configurable_product %}
                    {% for property in item.get_properties %}
                        <div>
                            {{ property.title }} : {{ property.value }} {{ property.unit|safe }}
                            {% if property.obj.is_select_field and property.display_price %}
                                ({{ property.price|currency:request}})
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
                {% endcomment %}

            </td>
            <td class="number top">
               {{ item.amount }}
            </td>
            <td class="number top">
               {{ item.product_price|currency:request}}
            </td>
            <td class="number top">
                {% if SHOP.default_currency_id != current_order.payment_method.currency_id %}
                <strong>{% format_as_payment_price item.price current_order.payment_method %}</strong> ({% format_as_price item.price %})
                {% else %}
                {% format_as_price item.price %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td colspan="2">
            {% trans 'Shipping' %} ({{ current_order.shipping_method }})
        </td>
        <td class="number">
            1
        </td>
        <td class="number">
            {{ current_order.shipping_price|currency:request}}
        </td>
        <td class="number">
            {% if SHOP.default_currency_id != current_order.payment_method.currency_id %}
            <strong>{% format_as_payment_price current_order.shipping_price current_order.payment_method %}</strong> ({% format_as_price current_order.shipping_price %})
            {% else %}
            {% format_as_price current_order.shipping_price %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">
            {% trans 'Payment' %} ({{ current_order.payment_method }})
        </td>
        <td class="number">
            1
        </td>
        <td class="number">
            {{ current_order.payment_price|currency:request}}
        </td>
        <td class="number">
            {% if SHOP.default_currency_id != current_order.payment_method.currency_id %}
            <strong>{% format_as_payment_price current_order.payment_price current_order.payment_method %}</strong> ({% format_as_price current_order.payment_price %})
            {% else %}
            {% format_as_price current_order.payment_price %}
            {% endif %}
        </td>
    </tr>
    <tr class="total">
        <td colspan="6"
            class="number total">
            <div class="pull-right">
            {% trans 'Total' %}: {% if SHOP.default_currency_id != current_order.payment_method.currency_id %}
            <strong>{% format_as_payment_price current_order.price current_order.payment_method %}</strong> ({% format_as_price current_order.price %})
            {% else %}
            {% format_as_price current_order.price %}
            {% endif %}
            </div>
        </td>
    </tr>
</table>
{% if current_order.message %}
    <table class="order lfs-default padding-top-middle">
        <tr>
            <th>
                {% trans 'Message from the customer' %}
            </th>
        </tr>
        <tr>
            <td>
                {{ current_order.message }}
            </td>
        </tr>
    </table>
{% endif %}
