{% load i18n l10n lfs_tags sshop_tags reviews_tags %}
{% load properties_tags %}
         {% load share_widget %} 
<div class="row-fluid">
<div class="span12">

<form id="product-form" action="{% url lfs.catalog.views.product_form_dispatcher %}"
class="add-to-cart-form" method="post">
{% csrf_token %}
<div class="row-fluid product-toolbar">
    <div class="span9"><h1 class="product-caption"><span itemprop="name">{{ product.get_name }}</span></h1>
     <span class="product_code">Код - {{ product.id_1c }}</span>{% property_value_icons product %}
    </div>
</div>
<div class="row-fluid product-detail">
    {# Images #}
    <div class="span3">
        {% if product.get_image %}
        <a href="{{ product.get_image.image.url }}" class="product-detail-lightbox colorbox product-image"
        rel="colorbox" title="{{ product.get_image.title }}">
        {% badges_for_product product %}
        <img src="{{ product.get_image.image.url_200x200 }}"
             alt="{{ product.get_image.title }}"
             class="product-image thumbnail"
             itemprop="image" />
    </a>
        {% else %}
        <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.get_image.title }}"
        class="product-image" />
        {% endif %}
    </div>
    <div class="span1">
        <div class="vertical-slider">
        <ul class="thumbnails main-product">
            {% for image in product.get_sub_images %}
            <li class="span12">
                <a href="{{ image.image.url }}" class="colorbox thumbnail" rel="colorbox"
                title="{{ image.title }}">
        <img src="{{ image.image.url_60x60 }}"
             alt="{{ image.title }}" />
            </a>
            </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    <div class="span8" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
        <div class="row-fluid">
            <div class="span4">
                {# Prices #}
            <div class="prices">
                {% if product.get_for_sale %}
                    <div class="product-price">
                    <span class="label label-important price" price="{{ product.price }}" currency="{{ currency.code }}">{% for_sale_price product %}</span>
                    <ul>
                    <li><span class="for-sale-price">{% trans 'Instead' %}: {% standard_price product %}</span></li>
                    <li><span class="for-sale-standard-price">{% trans 'You save' %}: {% price_difference product %}</span></li>
                    </ul>
                    </div>
                {% else %}
                    <div class="product-price">
                    <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">{% price product %}</span>
                </div>
                {% endif %}
            </div> <!-- prices -->
            </div>
            <div class="span4">
                <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                {% if product.manage_stock_amount %}
                <span>{% trans "Stock amount:" %} {{ product.stock_amount }}
                {% if product.unit %}{{ product.unit }}{% endif %}</span>
                {% endif %}
                {% if product.manual_delivery_time %}
                {% trans "Delivery in" %} {{ product.delivery_time }}
                {% endif %}
            </div>
            <div class="span4">
                {% if product.status.show_ask_button %}
                <div>
                    <a href="{% url lfs_product_question product.id %}"
                    id="id_ask_question" class="modal-link">
                    {% trans "Ask the question" %}</a>
                </div>
                {% endif %}
                {% if product.id in request.session.comparison %}
                    <a href="{% url lfs_comparison %}">{% trans "Added to compare" %}</a>
                    {% else %}
                    <a id="compare" href="javascript:compare_add_product({{ product.id }})">{% trans "Compare" %}</a>
                {% endif %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
              <span class="price_dol"> <span id="price-dol_{{ product.id }}"></span>{% static_block "price" %} $ </span><span style="display:none;" id="price_grn">{{ product.price}}</span>
               <span id="pr-dol_{{ product.id }}"></span>
                    <script type="text/javascript">
                        $(document).ready(function(){
                            var v1 = $('#price_grn').text(); 
                            var v3 = v1.replace(',','.');
                            var v2 = $('#usd').text();  // тут берём текст спана. хотя можно было бы и 123 написать
                            var res = v3 * v2;
                            $('#price-dol_{{ product.id }}').html(res.toFixed());
                              });
                    </script>
            </div>
            <div class="span4">
                {% if product.status.show_buy_button %}
                    <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                        class="add-to-cart-form"
                         method="post">
                    {% csrf_token %}
                        <input name="product_id" type="hidden" value="{{ product.id }}" />
                        <input name="ajax_mode" type="hidden" value="1" />
                        <button class="btn">{% trans "Купить" %}</button>
                        {% else %}
                        <button class="btn btn-mini emphasized"
                        onclick="window.location='{% url lfs_contact_form %}'; return false"
                        name="">
                            {% trans 'Send request' %}
                        </button>
                    </form>
                {% endif %}
            </div>
            <div class="span4">
            {% if product in request.session.notebook %}
                <a id="notebook_{{ product.id }}"  href="{% url lfs_notebook %}">{% trans "В списке желаний" %}</a>
                {% else %}
                <a id="notebook_{{ product.id }}"  href="javascript:notebook_add_product({{ product.id }})">{% trans "В список желаний" %}</a>
            {% endif %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span5">
                <div>
                    <div class="pull-left">{% average_for_instance product %}</div>
               </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="product_id" value="{{ product.id }}" />
<div class="row-fluid">
    <div class="span12">
    <div class="short-description">
        <span itemprop="description">{{ product.get_short_description|safe}}<span>
    </div>
    </div>
</div>

{# Configurable Properties #}


{# Variants #}
{% if product.is_product_with_variants or product.is_variant %}
    {% include variants_display_type_template %}
{% endif %}


<div class="row-fluid">
<div class="span12">

<div id="product-tabs">
<ul>
    <li><a href="#properties">{% trans "Характеристики" %}</a></li>
{% if product.has_description %}
    <li><a href="{% url lfs_product_description product.slug %}"><span>{% trans "Description" %}</span></a></li>
{% endif %}   
    
    <li><a href="#photo"><span>{% trans "Фото" %}</span></a></li> 
    <li><a href="{% url lfs_product_reviews product.slug %}"><span>{% trans "Отзывы" %}</span></a></li> 
</ul>
<div id="properties">
    {{ global_properties|safe }}
</div>
<div id="photo">


        {% if product.get_image %}
        <a href="{{ product.get_image.image.url }}" class="product-detail-lightbox colorbox product-image"
        rel="colorbox1" title="{{ product.get_image.title }}">
        {% badges_for_product product %}
        <img src="{{ product.get_image.image.url_200x200 }}"
             alt="{{ product.get_image.title }}"
             class="product-image thumbnail"
             itemprop="image" />
        </a>
        {% else %}
        <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.get_image.title }}"
        class="product-image" />
        {% endif %}

            {% for image in product.get_sub_images %}
                <a href="{{ image.image.url }}" class="colorbox thumbnail" rel="colorbox1"
                title="{{ image.title }}">
            <img src="{{ image.image.url_200x200 }}"
             alt="{{ image.title }}" />
            </a>
            {% endfor %}

    </div>
</div>

</div></div>

{# Attachments #} {% if attachments %}
<div class="row-fluid">
    <div class="span12">
        <div class="attachments">
            <h3 class="section">
                {% trans 'Attachments' %}
            </h3>
            {% for attachment in attachments %}
            <div class="item">
                <div class="title">
                    <a title="{{ attachment.title}}" href="{{ attachment.get_url }}">
            {{ attachment.title}}
        </a>
                </div>
                {% if attachment.description %}
                <div class="description">
                    {{ attachment.description }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{# Accessories #} {% if product_accessories %}
<div class="row-fluid">
    <div class="span12">
        <div class="accessories">
            <h3 class="section">
                {% trans 'Сопутствующие товары' %}
            </h3>
            <div>
                {% if product_accessories|length < 5 %}
                <ul id="categories-carousel">
                {% for product_accessory in product_accessories %}
                    <li>
                    <div class="image-wrapper">
                        <a href="{{ product_accessory.accessory.get_absolute_url }}">
                           <img src="{{ product_accessory.accessory.get_image.image.url_100x100 }}">
                        </a>
                    </div>
                    <a class="product-title" href="{{ product_accessory.accessory.get_absolute_url }}">{{ product_accessory.accessory.name }}<br /> <br /></a>
                    <p class="product-price">{{ product_accessory.accessory.price|floatformat:2 }} {{ SHOP.default_currency.abbr }}</p>   
                    {% if product.status.show_buy_button %}
                    <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                        class="add-to-cart-form"
                         method="post">
                    {% csrf_token %}
                        <input name="product_id" type="hidden" value="{{ product.id }}" />
                        <input name="ajax_mode" type="hidden" value="1" />
                        <button class="btn">{% trans "Купить" %}</button>
                        {% else %}
                        <button class="btn emphasized"
                        onclick="window.location='{% url lfs_contact_form %}'; return false"
                        name="">
                            {% trans 'Send request' %}
                        </button>
                    </form>
                {% endif %}
                </li>
                {% endfor %}
            </ul>

            {% elif product_accessories|length > 5 %}
                            <ul id="categories-carousel" class="jcarousel-skin-tango">
                {% for product_accessory in product_accessories %}
                    <li>
                    <div class="image-wrapper">
                        <a href="{{ product_accessory.accessory.get_absolute_url }}">
                           <img src="{{ product_accessory.accessory.get_image.image.url_100x100 }}">
                        </a>
                    </div>
                    <a class="product-title" href="{{ product_accessory.accessory.get_absolute_url }}">{{ product_accessory.accessory.name }}<br /> <br /></a>
                    <p class="product-price">{{ product_accessory.accessory.price|floatformat:2 }} {{ SHOP.default_currency.abbr }}</p>   
                    {% if product.status.show_buy_button %}
                    <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                        class="add-to-cart-form"
                         method="post">
                    {% csrf_token %}
                        <input name="product_id" type="hidden" value="{{ product.id }}" />
                        <input name="ajax_mode" type="hidden" value="1" />
                        <button class="btn">{% trans "Купить" %}</button>
                        {% else %}
                        <button class="btn emphasized"
                        onclick="window.location='{% url lfs_contact_form %}'; return false"
                        name="">
                            {% trans 'Send request' %}
                        </button>
                    </form>
                {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
</form>
</div>
</div>
{% block left-slot-wrapper %}
{% block left-slot %}{% endblock %}
{% endblock %}
  {% block body_bottom %}
          <script>
          mediator.publish('change_slots_width', "span3", "span6", "span9");
           config.left_portlet_count=0;
           $("#left-slot-container").remove();
          config.right_portlet_count++;
          </script>
    {% endblock %}

<script type="text/javascript">
$(document).ready(function() {
    {%if not main_page%}
        $(".delivery").css("display","block");
        {% if product.price < 1500 %}
        $(".value_less").css("display","block");
        {% else %}
         $(".value_more").css("display","block");
        {% endif %}
    {% endif %}
});
                    $(".jcarousel-skin-tango").jcarousel({
                            scroll: 1,
                            wrap: 'circular',
                        });

        function notebook_add_product(product_id){
        var id = $('#notebook').attr('portlet_assignment_id')
        $.ajax({
            url: "/notebook/add-product/" + product_id + "/",
            dataType: "json",
            success: function(msg){
                $("#notebook_"+product_id).text("В блокноте");
                $("#notebook_"+product_id).attr("href", "{% url lfs_notebook %}");
                $('#notebook')[0].innerHTML = msg['html']
                mediator.publish('run_scripts_from', $('#notebook')[0].innerHTML)
                page_designer.page_rebuild();
                mediator.publish('change_slots_width', "span3", "span6", "span9");
            }
        });
    };

    function compare_add_product(product_id) {
        var id = $('#comparison').attr('portlet_assignment_id')
        $.ajax({
            url: "/comparison/add-product/" + product_id +"/",
            dataType: "json",
            success: function(msg){
                $("#compare").text("Добавлен к сравнению");
                $("#compare").attr("href", "{% url lfs_comparison %}");
                $('#comparison')[0].innerHTML = msg['html']
                mediator.publish('run_scripts_from', $('#comparison')[0].innerHTML)
                page_designer.page_rebuild();
                mediator.publish('change_slots_width', "span3", "span6", "span9");
            }
        });
    };

</script>